@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .mobile-safe-h-screen {
    /* equivalent to 100dvh in major browsers */
    height: calc(var(--vh, 1vh) * 100 - 54px);
  }

  @supports (-webkit-touch-callout: none) {
    .mobile-safe-h-screen {
      /* for ios safari 15, safe-area-inset-bottom is 0, so a special fix apply here */
      height: calc(var(--vh, 1vh) * 100 - 54px);
      height: -webkit-fill-available;
      height: fill-available;
    }
  }
}
