@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .body-h-screen {
    /* equivalent to 100dvh in major browsers */
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-height: -webkit-fill-available;
  }

  .main-h-screen {
    height: 100vh;
  }

  /* TODO: 추후에 필요하면 --vh 정의해서 사용하기  */
  .mobile-safe-h-screen {
    /* equivalent to 100dvh in major browsers */
    height: calc(var(--vh, 1vh) * 100 - 54px);
  }

  .mobile-safe-min-h-screen {
    /* equivalent to 100dvh in major browsers */
    min-height: calc(var(--vh, 1vh) * 100 - 54px);
  }

  @supports (-webkit-touch-callout: none) {
    .mobile-safe-h-screen {
      /* for ios safari 15, safe-area-inset-bottom is 0, so a special fix apply here */
      height: calc(var(--vh, 1vh) * 100 - 54px);
      height: -webkit-fill-available;
      height: stretch;
    }
  }

  @supports (-webkit-touch-callout: none) {
    .mobile-safe-min-h-screen {
      /* for ios safari 15, safe-area-inset-bottom is 0, so a special fix apply here */
      min-height: calc(var(--vh, 1vh) * 100 - 54px);
      min-height: -webkit-fill-available;
    }
  }
  @supports (-webkit-touch-callout: none) {
    .main-h-screen {
      height: 100vh;
      height: -webkit-fill-available;
    }
  }
}
